/* Content pages styling */
.content-pages-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1600px;
  margin: auto;
  padding: var(--sectionPadding);
}
.content-pages-wrapper h1 {
  color: var(--colorMainDark);
}

.content-pages-text-box {
  color: var(--colorText);
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  padding: var(--sectionPadding);
  box-shadow: 0px 0px 10px hsl(247deg 5% 75%);
}
.content-pages-text-box p {
  text-align: left;
}
.content-pages-image-wrapper {
  display: flex;
  background: url(../assets/images/about-us-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7rem 0;
}
.wine-club-image-wrapper {
  display: flex;
  background: url(../assets/images/wine-club.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 7rem 0;
}

.contact-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1600px;
  margin: auto;
  padding: var(--sectionPadding);
  gap: 1rem;
}
.contact-page-wrapper h1 {
  color: var(--colorMainDark);
}

.contact-page-text-box {
  color: var(--colorText);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  padding: var(--sectionPadding);
  box-shadow: 0px 0px 10px hsl(247deg 5% 75%);
}

.contact-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.contact-form div:nth-of-type(3) {
  grid-column: 1/-1;
}

.contact-form div:nth-of-type(4) {
  grid-column: 1/-1;
}
.contact-form div:nth-of-type(5) {
  grid-column: 1/-1;
}

.contact-form div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

.contact-form div input[type="text"] {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  border-style: solid;
  font-size: 1rem;
  height: 2rem;
  max-width: 100%;
  padding: 0.5rem;
  font-family: var(--fontBody);
}

.contact-form div input[type="email"] {
  border-radius: 0.5rem;
  border: 1px solid #ccc;
  border-style: solid;
  font-size: 1rem;
  height: 2rem;
  max-width: 100%;
  padding: 0.5rem;
  font-family: var(--fontBody);
}

.contact-form div textarea {
  border-radius: 0.6rem;
  border: 1px solid #ccc;
  max-width: 100%;
  font-size: 1rem;
  font-family: var(--fontBody);
  padding: 0.5rem;
}

.contact-form label {
  color: var(--colorMainDark);
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}
.contact-form div input[type="submit"] {
  font-family: var(--fontUI);
  color: #fff;
  padding: 0.75rem 1.25rem;
  background: var(--colorMain);
  border: none;
  border-radius: 0.5rem;
  text-decoration: none;
  font-weight: 600;
  font-size: 1rem;
  display: block;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.contact-form div input[type="submit"]:hover {
  filter: brightness(1.4);
}

.contact-page-address {
  list-style: none;
}
.contact-page-info-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.contact-maps-container {
  display: flex;
  flex-direction: column;
}
.contact-maps-container iframe {
  min-height: 15rem;
}

.contact-page-info-container p {
  color: var(--colorText);
  font-weight: 600;
}

.news-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1600px;
  margin: auto;
  padding: var(--sectionPadding);
}

.news-post-wrapper {
  color: var(--colorText);
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  padding: var(--sectionPadding);
  box-shadow: 0px 0px 10px hsl(247deg 5% 75%);
}

.news-post-wrapper h1 {
  color: var(--colorMainDark);
}

.news-post-image-wrapper {
  display: flex;
  background: url(../assets/images/wine-club.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 10rem 0;
  order: -1;
}
.post-details p {
  color: var(--colorMain);
}

.wine-club-wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1rem;
  padding: var(--sectionPadding);
}

.wine-club-info {
  max-width: 1600px;
  margin: auto;
  padding: var(--sectionPadding);
}

.wine-club-pop-up {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;
  top: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.wine-club-pop-up-visible {
  display: flex;
  visibility: initial;
  pointer-events: initial;
}

.wine-club-pop-up div {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  padding: 3rem var(--sectionPadding);
  gap: 1rem;
  text-align: center;
  max-width: 90%;
}

.wine-club-pop-up div img {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 36px;
  cursor: pointer;
}
.wine-club-pop-up div span {
  margin: 0;
}

.favorites-pages-wrapper {
  max-width: 1600px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 50%;
  width: fit-content;
  padding: var(--sectionPadding);
}

.favorites-pages-wrapper h1 {
  color: var(--colorMainDark);
}

.favorites-page-box {
  color: var(--colorText);
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background: #fff;
  gap: 1rem;
  padding: var(--sectionPadding);
  box-shadow: 0px 0px 10px hsl(247deg 5% 75%);
}

.account-page-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  max-width: 1600px;
  margin: auto;
  gap: 1rem;
  padding: var(--sectionPadding);
}
.account-page-wrapper h1 {
  color: var(--colorMainDark);
}

.account-page-text-box {
  color: var(--colorText);
  width: 100%;
  display: flex;
  justify-content: left;
  flex-direction: column;
  gap: 1rem;
  background: #fff;
  padding: var(--sectionPadding);
  box-shadow: 0px 0px 10px hsl(247deg 5% 75%);
}

.account-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}
.account-form div {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}

form input {
  padding: 0.5rem;
  border-radius: 0.5rem;
  border: solid 1px #ccc;
  font-size: 1rem;
}

.account-form label {
  color: var(--colorMainDark);
  font-size: 1.1rem;
  margin-bottom: 0.1rem;
}

.account-pop-up {
  position: fixed;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  z-index: 30;
  top: 0;
  display: none;
  visibility: hidden;
  pointer-events: none;
}

.account-pop-up-visible {
  display: flex;
  visibility: initial;
  pointer-events: initial;
}

.account-pop-up div {
  background: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 15rem;
  padding: 3rem var(--sectionPadding);
  gap: 1rem;
  text-align: center;
  max-width: 90%;
}

.account-pop-up div img {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  width: 36px;
  cursor: pointer;
}
.account-pop-up div span {
  margin: 0;
}
.account-text-link {
  text-decoration: none;
  font-weight: 600;
  color: var(--colorMain);
  transition: 0.5s ease-in-out;
  cursor: pointer;
}
.account-text-link:hover {
  filter: brightness(1.4);
  opacity: 1;
}
.account-contact-link {
  font-size: 0.9rem;
  width: 100%;
  text-align: center;
  opacity: 0.6;
}

#account-link {
  margin-top: 0;
}

@media screen and (min-width: 768px) {
  .contact-form {
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-page-info-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .wine-club-wrapper {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
  .account-form {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media screen and (min-width: 1024px) {
  .content-pages-wrapper {
    grid-template-columns: 4fr 6fr;
  }
  .contact-page-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .contact-form {
    gap: 2rem;
  }
  .news-page-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .news-post-image-wrapper {
    order: 2;
  }
  .wine-club-wrapper {
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }
  .favorites-pages-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .account-page-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 1440px) {
  .wine-club-wrapper {
    gap: 2rem;
    max-width: 1600px;
    margin: auto;
  }
}
