.product-wrapper {
  display: flex;
  position: relative;
  /* height: calc(100vh - 190px); */
  margin-top: 2rem;
  align-items: center;
  padding: 2rem var(--sectionPadding);
  max-width: 1400px;
  margin: auto;
}

.product-bg {
  background: url(../assets/images/placeholder-bg.webp);
  background-size: cover;
}

.product-page .breadcrumbs {
  max-width: 1600px;
  margin: auto;
  margin-top: 1rem;
  padding-left: var(--sectionPadding);
}

.product-desc-wrapper {
  position: relative;
  width: 100%;
  background: #fff;
  padding: 1rem;
  padding-left: 1rem;
  box-shadow: 0px 0px 10px hsl(247, 5%, 75%);
}

.product-image {
  max-height: 35vh;
  width: auto;
  position: absolute;
  z-index: 2;
  top: 5rem;
  left: -0rem;
}

.product-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-bottom: 1rem;
  justify-content: space-between;
}

.product-desc-wrapper h1 {
  font-size: 1.5rem;
  color: var(--colorMainDark);
  max-width: 80%;
}

.product-header span {
  background-color: var(--colorMain);
  padding: 0.5rem;
  color: #fff;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-family: var(--fontUI);
  font-weight: 600;
}

.product-details {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  padding: 1rem 0;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.product-details ul {
  list-style: none;
}
/* product details list categories */
.product-details ul:first-of-type li:first-of-type::before {
  content: "COUNTRY: ";
  font-weight: 800;
}

.product-details ul:first-of-type li:nth-of-type(2)::before {
  content: "REGION: ";
  font-weight: 800;
}

.product-details ul:first-of-type li:nth-of-type(3)::before {
  content: "WINERY: ";
  font-weight: 800;
}

.product-details ul:first-of-type li:nth-of-type(4)::before {
  content: "TYPE: ";
  font-weight: 800;
}

.product-details ul:last-of-type li:first-of-type::before {
  content: "GRAPE: ";
  font-weight: 800;
}

.product-details ul:last-of-type li:nth-of-type(2)::before {
  content: "YEAR: ";
  font-weight: 800;
}

.product-details ul:last-of-type li:nth-of-type(3)::before {
  content: "SIZE: ";
  font-weight: 800;
}

.product-details ul:last-of-type li:nth-of-type(4)::before {
  content: "ALCOHOL: ";
  font-weight: 800;
}

.product-buy {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  gap: 1rem;
  width: 100%;
}

.product-add-to-cart {
  display: flex;
  flex-direction: row;
}

.atc-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  gap: 0.5rem;
}

.atc-counter {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.2rem;
  width: 2.5rem;
  height: 4rem;
  border: solid 1px #ccc;
  border-radius: 0.5rem 0 0 0.5rem;
  font-size: 1.5rem;
  text-align: center;
}

.atc-counter:active {
  outline: none;
}

.atc-counter::-webkit-outer-spin-button,
.atc-counter::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.atc-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 4rem;
  border-radius: 0 0.5rem 0.5rem 0;
  overflow: hidden;
  width: 2rem;
}

.atc-buttons span {
  background: var(--colorMain);
  width: 2rem;
  color: #fff;
  align-items: center;
  justify-content: center;
  display: flex;
  height: 2rem;
  text-align: center;
  cursor: pointer;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.atc-buttons span:hover {
  filter: brightness(1.4);
}

.atc-buttons span img {
  width: 18px;
  display: block;
}

.atc-wrapper input[type="submit"] {
  border-radius: 0.5rem;
  background: var(--colorMain);
  border: none;
  padding: 0rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  color: #fff;
  font-family: var(--fontUI);
  font-weight: 600;
  font-size: 0.8rem;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.atc-wrapper input[type="submit"]:hover {
  filter: brightness(1.4);
}

.product-description {
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
  padding: 1rem 0;
}

.product-description p {
  margin-top: 1rem;
  font-size: 0.9rem;
  font-weight: 500;
}

/* wine slider */

.product-slider {
  padding: 1rem 0;
}

.wine-slider-wrapper {
  width: 100%;
  position: relative;
  padding: 0.5rem 0;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.wine-slider-wrapper span:first-of-type,
.wine-slider-wrapper span:nth-of-type(2) {
  z-index: 2;
  position: relative;
}

.wine-slider {
  position: absolute;
  height: 0.8rem;
  border-radius: 0.5rem;
  width: 100%;
  background: rgb(228, 228, 228);
  z-index: 1;
  top: 2rem;
}
.wine-slider:before {
  position: absolute;
  content: "";
  background: var(--colorMain);
  width: 2rem;
  border-radius: 0.5rem;
  height: 100%;
}

.product-temp {
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: solid 1px #ccc;
  border-bottom: solid 1px #ccc;
}

.product-temp h2 {
  align-self: flex-start;
  font-size: 1.5rem;
  margin-top: 0.3rem;
  margin-bottom: -1rem;
}

.product-temp span {
  padding: 1rem 0;
  font-style: italic;
  letter-spacing: 2px;
}

.product-food {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  position: relative;
  gap: 2rem;
}

.product-food img {
  align-self: center;
  justify-self: center;
  max-width: 60%;
}

.product-food h2 {
  grid-column: 1/-1;
}

.food-divider {
  background: #ccc;
  width: 1px;
  height: 80%;
}

.wine-slider.position-1:before {
  left: 0;
}
.wine-slider.position-2:before {
  left: 20%;
}
.wine-slider.position-3:before {
  left: 46%;
}
.wine-slider.position-4:before {
  left: 66%;
}
.wine-slider.position-5:before {
  left: auto;
  right: 0;
}
.product-header {
  padding-left: 4rem;
}

.product-details {
  padding-left: 4rem;
}

.product-buy {
  padding-left: 3rem;
}

.atc-controls {
  display: flex;
  flex-direction: row;
}

@media screen and (min-width: 768px) {
  .product-details {
    grid-template-columns: repeat(2, 1fr);
  }
  .product-image {
    max-height: 55vh;
    top: 5rem;
  }
  .product-header {
    padding-left: 0rem;
  }

  .product-details {
    padding-left: 0rem;
  }

  .product-buy {
    padding-left: 0rem;
  }
  .product-desc-wrapper {
    padding-left: 10rem;
  }
}
@media screen and (min-width: 1024px) {
  .product-details {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .product-desc-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    padding-left: 4rem;
    margin-left: 6rem;
  }

  .product-image {
    max-height: 70vh;
    top: auto;
  }

  .product-desc-main {
    display: flex;
    flex-direction: column;
  }
  .product-buy {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .product-description {
    border-bottom: none;
  }
  .product-header {
    justify-self: center;
  }
  .product-header span {
    height: 64px;
    width: 64px;
    font-size: 1.3rem;
  }
  .atc-wrapper input[type="submit"] {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 1440px) {
  .product-desc-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    padding: 2rem;
    padding-left: 8em;
    margin-left: 5rem;
  }
  .product-image {
    max-height: 75vh;
    top: auto;
  }
}
